@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Russo+One&display=swap');

* {
	font-family: "Russo One", sans-serif;
	font-size: 25px;
}

.labelHeadings {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
}
